<div class="layout">

<!--Aqui se pasa la información al hijo, recuperada del servicio-->
<app-menu [menu]="menu" ></app-menu>


<router-outlet></router-outlet>
<!--Aqui se pasa la información al hijo, recuperada del servicio-->
<app-footer [footer]="footer"></app-footer>

</div>

