    <div class="b-container">
        <img class="b-hero-image" src="{{hero?.countryImage?.src}}" alt="{{hero?.countryImage?.alt}}" style="max-width:100%;width:auto">
        <h2 class="b-hero-text">
            {{hero?.about}}
        </h2>
    </div>

