header{
background-color: rgb(4,5,6);
height: 10vh;
width: 100%;
}

ul{
    display:flex;
    justify-content: space-around;

}

li{
    margin-top: 20px;

}

a{
    color: white;
    text-decoration: none;
    font-family: monospace;
    
}