body{
    margin: 0 auto;
}

footer{
background-color: rgb(4, 5, 9);
width: 100%;
}

ul{
    display:flex;
    justify-content:space-around;
}

li{
    margin-top: 40px;
    color: white;
    list-style: none;
    font-family:monospace;
}

a{
    text-decoration:none;
}

p{
    color: white;
    font-family: monospace;
    display:flex;
    justify-content:center;
}


